.list:nth-child(3) {
  position: relative;
}

.list:nth-child(3)::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  border: 1px solid gray;
}

.list-item {
  color: blue;
  text-decoration: none;
  margin-right: 1rem;
}

.active {
  text-decoration: underline !important;
}
